
#service {
    background: url(../../assets/images/background-services.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    color: #444;
    background-color: white;
    background-position-x: 85%;

    .special-service-container {

        .services-header-row {
            margin-bottom: 45px;

            .service-main-text {
                font-size: 16px;
                letter-spacing: 1.75px;
                font-weight: 700;
                height: 50px;
                text-transform: uppercase;
                margin-top: 12vh;
            }
    
            .service-description {
                font-size: 42px;
                margin-bottom: 20px;
                font-weight: 200;
                text-transform: uppercase;
            }
        }

        .service-explanation {
            max-width: 800px;

            .services-title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.3em;
            }
        }

        .special-services-row {
            margin-bottom: 5em;

            .custom-services-icon {
                font-size: 4em;
            }
        }

        .special-services-row-mid {
            margin-bottom: 5em;

            .custom-services-icon {
                font-size: 4em;
            }
        }

        .special-services-row-last {
            margin-bottom: 2em;

            .custom-services-icon {
                font-size: 4em;
            }
        }

        .custom-services-btn {
            border-radius: 27px;
            height: 54px;
            color: #fff;
            border: none;
            background-color: #2b3345;
            text-transform: uppercase;
            line-height: 54px;
            font-weight: 600;
            padding-left: 3em;
            padding-right: 3em;
            margin-top: 15px;
        }

        .custom-services-btn:hover {
            background-color: #82ba47;
        }
    }
}