
#form {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 120px;
    color: #4a4a4a;

    .special-form-container {

        @media only screen and (min-width: 993px){
            width: 85%;
        }

        .form-header-row {
            margin-bottom: 45px;
            text-align: center;

            // iphone 8 plus
            @media only screen and (max-width: 414px) and (max-height: 736px){
                margin-bottom: 10px;
            }

            // iphone x
            @media only screen and (max-width: 375px) and (max-height: 812px){
                margin-bottom: 15px;
            }

            .form-main-text {
                font-size: 16px;
                letter-spacing: 1.75px;
                font-weight: 700;
                height: 50px;
                text-transform: uppercase;
                margin-bottom: 0;

                // iphone 8 plus
                @media only screen and (max-width: 414px) and (max-height: 736px){
                    font-size: 13px;
                    margin-top: 0;
                }

                // iphone x
                @media only screen and (max-width: 375px) and (max-height: 812px){
                    margin-top: 0vh;
                    font-size: 17px;
                }
            }
    
            .form-description {
                font-size: 42px;
                margin-bottom: 20px;
                font-weight: 200;
                text-transform: uppercase;
                margin-top: 0;

                // iphone 8 plus
                @media only screen and (max-width: 414px) and (max-height: 736px){
                    font-size: 35px;
                    position: relative;
                    bottom: 10px;
                }
            }
        }

        .form-btn-container {
            text-align: center;

            .custom-form-btn {
                border-radius: 27px;
                height: 54px;
                color: #fff;
                border: none;
                background-color: #2b3345;
                text-transform: uppercase;
                line-height: 54px;
                font-weight: 600;
                padding-left: 3em;
                padding-right: 3em;
                margin-top: 30px;
    
                // iphone 8 plus
                @media only screen and (max-width: 414px) and (max-height: 736px){
                    height: 54px;
                    line-height: 54px;
                    padding-left: 3em;
                    padding-right: 3em;
                    font-weight: 300;
                    font-size: 14px;
                    margin-top: 15px;
                }
            }
    
            .custom-form-btn:hover {
                background-color: #e69500;
            }
        }
    }
}