
#about {
    background: url(../../assets/images/tourbus-red-sized.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    height: 900px;
    background-position-y: -220px;
    color: white;

    @media only screen and (min-width: 993px){
        background-position-x: -230px;
        overflow: hidden;
    }

    .special-about-container {
        width: 70%;

        @media only screen and (min-width: 993px){
            width: 85%;
        }

        .about-text {
            font-size: 16px;
            letter-spacing: 1.75px;
            font-weight: 700;
            height: 50px;
            text-transform: uppercase;
            margin-top: 30vh;

            @media only screen and (min-width: 993px){
                margin-top: 15vh;
            }
        }
        
        .about-description {
            font-size: 42px;
            margin-bottom: 20px;
            font-weight: 200;
            text-transform: uppercase;
        }

        .about-paragraph {
            font-size: 16px;
            font-weight: 200;
        }

        .custom-button {
            border-radius: 27px;
            height: 54px;
            color: #fff;
            border: none;
            background-color: #2b3345;
            text-transform: uppercase;
            line-height: 54px;
            font-weight: 600;
            padding-left: 3em;
            padding-right: 3em;
            margin-top: 15px;
        }

        .custom-button:hover {
            border-radius: 27px;
            height: 54px;
            color: #fff;
            border: none;
            background-color: #82ba47;
            text-transform: uppercase;
            line-height: 54px;
            font-weight: 600;
            padding-left: 3em;
            padding-right: 3em;
            margin-top: 15px;
        }
    }

    
}