
.top-nav.notactive {
    background: transparent;
    box-shadow: none;
    transition: all .4s;
    color: whitesmoke;
    padding-top: 20px;

    @media screen and (max-width: 992px){
        padding-top: 0;
    }
}

.top-nav.active {
    background: #000000ab;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
    // color: #444;
    color: whitesmoke;
    transition: all .4s;

    @media screen and (max-width: 992px){
        padding-top: 0;
    }
}

.nav-wrapper {
    background: transparent;
    letter-spacing: 0.7px;

    .brand-logo.top {
        font-family: 'gothic', sans-serif;
        color: whitesmoke;
        width: 70%;
        max-width: 392px;
        margin-left: 175px;
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 62px;

        @media only screen and (max-width: 1300px){
            margin-left: 50px;
        }

        @media only screen and (max-width: 992px){
            margin-left: 50px;
        }
    
        @media only screen and (max-width: 992px){
            margin-left: 0;
            text-align: center;
            font-size: 18px;
            color: #444;
            font-family: 'gothic', sans-serif;
        }

        // ipad
        @media only screen and (max-width: 768px){
            color: whitesmoke;
        }

        // iphone plus
        @media only screen and (max-width: 494px){
            color: whitesmoke;
            font-size: 15px;
        }

        // iphone x
        @media only screen and (max-width: 375px) and (max-height: 812px){
            font-size: 12px;
        }

    }

    .brand-logo:hover {
        cursor: pointer;
    }

    .brand-logo.bottom {
        font-family: 'gothic', sans-serif;
        // color: #444;
        color: whitesmoke;
        width: 70%;
        max-width: 392px;
        margin-left: 175px;
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 62px;

        @media only screen and (max-width: 1300px){
            margin-left: 50px;
        }
    
        @media only screen and (max-width: 992px){
            margin-left: 0;
            text-align: center;
            font-size: 18px;
            margin-left: 0px;
        }

        @media only screen and (max-width: 494px){
            font-size: 15px;
        }

        // iphone x
        @media only screen and (max-width: 375px) and (max-height: 812px){
            font-size: 12px;
        }
    }

    .desktop-links-container {
        margin-right: 155px;
        font-weight: 100;
        letter-spacing: 3px;

        @media only screen and (max-width: 1300px){
            margin-right: 50px;
        }
    }

    .desktop-link.top {
        color: whitesmoke;
        font-weight: bold;
    }

    .desktop-link.bottom {
        // color: #444;
        color: whitesmoke;
        font-weight: bold;
    }

    ul {
        a {
            font-size: 14.5px;
        }
    }
}

#sidenav {
    background-color: black;
    color: white;

    li > a {
        color: white;
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 16px;
    }

    .sidenav-coaches-title {
        font-family: 'gothic', sans-serif;
        letter-spacing: 3px;
        font-size: 20px;
        text-align: center;
        margin-top: 32px;
    }

    .sidenav-menu-title {
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 3px;
        font-weight: 700;
        text-align: center;
        font-size: 13px;
        position: relative;
        bottom: 28px;
    }

    .divider {
        margin: 8px 0 8px 20px;
        width: 85%;
        background-color: rgba(182, 182, 182, 0.575);
    }

    .menu-divider {
        width: 50%;
        background-color: #74747436;
        position: relative;
        bottom: 40px;
        margin: 0 25%;
        height: 8px;
        border-radius: 40px;
    }

    .sidenav-circles-container {
        height: 10px;
        width: 30%;
        margin: 0 35%;
        display: flex;
        justify-content: space-evenly;

        .sidenav-circle {
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: #e0e0e057;
        }
    }

    .first-link {
        margin-top: 8px;
    }
}

.sidenav-trigger.top {
    color: whitesmoke;
}

.sidenav-trigger.bottom {
    // color: #444;
    color: whitesmoke;
}



