
.top-nav.notactive {
    background: transparent;
    box-shadow: none;
    transition: all .4s;
    color: whitesmoke;
    padding-top: 20px;

    @media screen and (max-width: 992px){
        padding-top: 0;
    }
}

.top-nav.active {
    background: #fafafaf7;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
    color: #444;
    transition: all .4s;

    @media screen and (max-width: 992px){
        padding-top: 0;
    }
}

.nav-wrapper {
    background: transparent;
    letter-spacing: 0.7px;

    .brand-logo.top {
        font-family: 'Orbitron', sans-serif;
        color: whitesmoke;
        width: 70%;
        max-width: 392px;
        margin-left: 175px;
        font-size: 18px;
        letter-spacing: 3px;

        @media only screen and (max-width: 1300px){
            margin-left: 50px;
        }

        @media only screen and (max-width: 992px){
            margin-left: 50px;
        }
    
        @media only screen and (max-width: 992px){
            margin-left: 0;
            text-align: center;
            font-size: 18px;
            color: #444;
            font-family: 'Orbitron', sans-serif;
        }

        @media only screen and (min-width: 0px) and (max-width: 494px){
            color: whitesmoke;
        }

    }

    .brand-logo:hover {
        cursor: pointer;
    }

    .brand-logo.bottom {
        font-family: 'Orbitron', sans-serif;
        color: #444;
        width: 70%;
        max-width: 392px;
        margin-left: 175px;
        font-size: 18px;
        letter-spacing: 3px;

        @media only screen and (max-width: 1300px){
            margin-left: 50px;
        }
    
        @media only screen and (max-width: 992px){
            margin-left: 0;
            text-align: center;
            font-size: 18px;
            margin-left: 0px;
        }
    }

    .desktop-links-container {
        margin-right: 155px;
        font-weight: 100;
        letter-spacing: 3px;

        @media only screen and (max-width: 1300px){
            margin-right: 50px;
        }
    }

    .desktop-link.top {
        color: #4b4b4b;
    }

    .desktop-link.bottom {
        color: #444;
    }

    ul {
        a {
            font-size: 14.5px;
        }
    }
}

#sidenav {
    .divider {
        margin: 8px 0 8px 20px;
        width: 85%;
        color: rgb(98, 98, 98);
    }

    .first-link {
        margin-top: 8px;
    }
}

.sidenav-trigger.top {
    color: whitesmoke;
}

.sidenav-trigger.bottom {
    color: #444;
}



