
.top-nav.notactive {
    background: transparent;
    box-shadow: none;
    transition: all .4s;
    color: whitesmoke;
    padding-top: 20px;

    @media screen and (max-width: 992px){
        padding-top: 0;
    }
}

.top-nav.active {
    background: #000000ab;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
    // color: #444;
    color: whitesmoke;
    transition: all .4s;

    @media screen and (max-width: 992px){
        padding-top: 0;
    }
}

.nav-wrapper {
    background: transparent;
    letter-spacing: 0.7px;

    .brand-logo.top {
        font-family: 'Orbitron', sans-serif;
        color: whitesmoke;
        width: 70%;
        max-width: 392px;
        margin-left: 175px;
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 62px;

        @media only screen and (max-width: 1300px){
            margin-left: 50px;
        }

        @media only screen and (max-width: 992px){
            margin-left: 50px;
        }
    
        @media only screen and (max-width: 992px){
            margin-left: 0;
            text-align: center;
            font-size: 18px;
            color: #444;
            font-family: 'Orbitron', sans-serif;
        }

        @media only screen and (max-width: 494px){
            color: whitesmoke;
            font-size: 15px;
        }

        // iphone x
        @media only screen and (max-width: 375px) and (max-height: 812px){
            font-size: 12px;
        }

    }

    .brand-logo:hover {
        cursor: pointer;
    }

    .brand-logo.bottom {
        font-family: 'Orbitron', sans-serif;
        // color: #444;
        color: whitesmoke;
        width: 70%;
        max-width: 392px;
        margin-left: 175px;
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 62px;

        @media only screen and (max-width: 1300px){
            margin-left: 50px;
        }
    
        @media only screen and (max-width: 992px){
            margin-left: 0;
            text-align: center;
            font-size: 18px;
            margin-left: 0px;
        }

        @media only screen and (max-width: 494px){
            font-size: 15px;
        }

        // iphone x
        @media only screen and (max-width: 375px) and (max-height: 812px){
            font-size: 12px;
        }
    }

    .desktop-links-container {
        margin-right: 155px;
        font-weight: 100;
        letter-spacing: 3px;

        @media only screen and (max-width: 1300px){
            margin-right: 50px;
        }
    }

    .desktop-link.top {
        color: #4b4b4b;
    }

    .desktop-link.bottom {
        // color: #444;
        color: whitesmoke;
    }

    ul {
        a {
            font-size: 14.5px;
        }
    }
}

#sidenav {
    background-color: #dbdbdb;
    color: black;

    li > a {
        color: #444;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .sidenav-coaches-title {
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 2px;
        font-weight: 800;
        padding: 0 32px;
        font-size: 16px;

        .coach-letter {
            color: darkorange;
        }
    }

    .sidenav-coaches-title::first-letter {
        color: darkorange;
    }

    .sidenav-menu-title {
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        font-size: 13px;
        position: relative;
        bottom: 28px;
    }

    .divider {
        margin: 8px 0 8px 20px;
        width: 85%;
        background-color: black;
        position: relative;
        bottom: 28px;
    }

    .first-link {
        margin-top: 8px;
        position: relative;
        bottom: 28px;
    }

    .sidenav-close {
        position: relative;
        bottom: 28px;
    }
}

.sidenav-trigger.top {
    color: whitesmoke;
}

.sidenav-trigger.bottom {
    // color: #444;
    color: whitesmoke;
}



