
.header-container {
    overflow: hidden;
    margin-top: -64px;
    height: 100vh;
    position: relative;

    @media only screen and (min-width: 0px) and (max-width: 494px){
        overflow: hidden;
        margin-top: -64px;
        height: 100vh;
        position: relative;
    }

    .header-text-container {
        min-height: 300px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        bottom: 3%;
        position: relative;
        bottom: 100%;
        z-index: 10;

            .header-text-above {
                color: white;
                margin-top: 42vh;
                font-size: 60px;
                letter-spacing: 5px;
                font-family: 'Gothic', sans-serif;
                font-weight: 300;
                margin-bottom: 20px;

                @media only screen and (min-width: 992px) and (max-width: 1255px){
                    font-size: 53px;
                }

                @media only screen and (min-width: 650px) and (max-width: 991px){
                    font-size: 40px;
                }

                @media only screen and (max-width: 649px){
                    font-size: 30px;
                }

                @media only screen and (max-width: 414px){
                    font-size: 27px;
                }

                // iphone x
                @media only screen and (max-width: 375px) and (max-height: 812px){
                    font-size: 22px;
                }

                // iphone 5
                @media only screen and (max-width: 320px){
                    font-size: 19px;
                }

                .coach-letter {
                    color: white;
                }
            
            }

            .header-text-above::first-letter {
                color: white;
            }
    
            .head-divider {
                height: 2px;
                width: 20%;
                background-color: whitesmoke;
                margin: 40px auto 40px auto;

                @media only screen and (max-width: 992px){
                    margin: 40px auto 40px auto;
                    height: 1px;
                }

                @media only screen and (max-height: 812px){
                    margin: 32px auto 32px auto;
                }

                @media only screen and (min-width: 0px) and (max-width: 494px){
                    width: 50%;
                    margin: 16px auto 24px auto;
                }

                @media only screen and (min-width: 992px) and (max-width: 1255px){
                    width: 40%;
                }

                @media only screen and (max-width: 375px){
                    height: 3px;
                }
            }

            .header-text-below {
                color: white;
                font-size: 32px;
                letter-spacing: 5px;
                font-weight: 200;
                font-style: italic;

                @media only screen and (max-width: 649px){
                    font-size: 14px;
                }

                @media only screen and (min-width: 650px) and (max-width: 991px){
                    font-size: 20px;
                }
            
                @media only screen and (min-width: 992px) and (max-width: 1255px){
                    font-size: 25px;
                }

                // iphone x
                @media only screen and (max-width: 375px) and (max-height: 812px){
                    letter-spacing: 3px;
                }
            }
    }

    .align-items-center {
        align-items: center;
    }

    #slider {
        overflow: hidden;
        height: 100% !important;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        background-position: bottom;

        @media only screen and (min-width: 0px) and (max-width: 494px){
            overflow: hidden;
            height: 100vh;
            position: relative;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
        }

        .slides {
            height: 100% !important;

            .carousel-photo-bottom {
                background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
                max-width: 100%;
                background-position: bottom;

                // iPad
                @media only screen and (max-width: 768px){
                    background-position-x: -450px;
                }

                // small width mobile phones
                @media only screen and (max-width: 494px){
                    background-attachment: scroll;
                }

                @media only screen and (max-width: 414px){
                    background-attachment: scroll;
                    background-position-x: -500px;
                }
            }

            .carousel-photo {
                background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
                background-attachment: fixed;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                max-width: 100%;
                // background-position: bottom;

                // small width mobile phones
                @media only screen and (max-width: 494px){
                    background-attachment: scroll;
                }
            }
        }
    }
}